config.py
keystore.jks
out.txt
**.tmp
.vscode
keystore.p12
config.yml
fdroid/tmp
fdroid/stats
fdroid/srclibs
fdroid/repo/status
fdroid/metadata/**/phoneScreenshots
fdroid/logs
fdroid/unsigned
metascoop/metascoop
